(
  assets:
   [ 
    ("Player", File ( path: "blueprints/Player.glb" )),
    ("Board", File ( path: "blueprints/Board.glb" )),
    ("Cube", File ( path: "blueprints/Cube.glb" )),
    ("Cylinder", File ( path: "blueprints/Cylinder.glb" )),
    ("Monkey", File ( path: "blueprints/Monkey.glb" )),
    ("Torus", File ( path: "blueprints/Torus.glb" )),
   ]
)